.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin-top: 120px;
}

.nav {
  margin: 0 0 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  color: #8585AD;
  opacity: 0.4;
  text-align: left;
}

.link {
  line-height: 64px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.linkActive {
  color: #F2F2F3;
}

.history {
  width: 844px;
  height: 916px;
  /* margin: 40px 0 0 60px; */
  padding: 40px 0 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}